$weights: 100,300,400,500,700,900;

@each $weight in $weights{
  .text-weight--#{$weight} {
    font-weight: #{$weight};
  }
}


.text {
  &-decoration {
    &--none {
      text-decoration: none;
    }
  }

  &-color {
    &--green {
      color: #35495e;
    }

    &--white {
      color: #fff;
    }
  }

  &-size {
    &--h1{
      font-size: 6rem;
    }
    &--h2{
      font-size: 3.75rem;
    }
    &--h3{
      font-size: 3rem;
    }
    &--h4{
      font-size: 2.125rem;
    }
    &--h5{
      font-size: 1.5rem;
    }
    &--h6{
      font-size: 1.25rem;
    }
    &--subtitle-1{
      font-size: 1rem;
    }
    &--subtitle-2{
      font-size: 0.875rem;
    }
    &-body-1{
      font-size: 1rem;
    }
    &-body-2{
      font-size: 0.875rem;
    }

  }
}
