@import "typhography";
@import "indent";
@import "~flexboxgrid";
@import "card";

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  letter-spacing: 1px;
}
.wrapper{
  height: 100vh;
  display: flex;
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}
.fill-height {
  height: 100%;
}
